@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
	/* Custom Colors */
	/* Primary Colors */
	--color-primary-0: #FFFFFF; 
	--color-primary-100: #D6FBE6;
	--color-primary-200: #AFF7D5;
	--color-primary-300: #7EDEBC;
	--color-primary-400: #4AC49F;
	--color-primary-500: #31B099;
	--color-primary-600: #23978D;
	--color-primary-700: #187D7E;
	--color-primary-800: #0F5D66;
	--color-primary-900: #094554;

	/* Secondary Colors */
	--color-secondary-100: #EDF1F3;
	--color-secondary-200: #DCE4E8;
	--color-secondary-300: #ACB5BB;
	--color-secondary-400: #6C7278;
	--color-secondary-500: #1A1C1E;

	/* Error Colors */
	--color-error-100: #FCE4DF;
	--color-error-200: #F9C6BF;
	--color-error-300: #ED9C9B;
	--color-error-400: #DC7D85;
	--color-error-500: #C65468;
	--color-error-600: #AA3D5A;
	--color-error-700: #8E2A4E;
	--color-error-800: #721A43;
	--color-error-900: #5F103B;

	/* Warning Colors */
	--color-warning-100: #FAE7DB;
	--color-warning-200: #F5CEB8;
	--color-warning-300: #F1B694;
	--color-warning-400: #EC9D71;
	--color-warning-500: #E7854D;
	--color-warning-600: #B96A3E;
	--color-warning-700: #8B502E;
	--color-warning-800: #5C351F;
	--color-warning-900: #2E1B0F;

	/* Accent Green */
	--color-accent-green-100: #E6EFCE;
	--color-accent-green-200: #CDDE9E;
	--color-accent-green-300: #B4CE6D;
	--color-accent-green-400: #9BBD3D;
	--color-accent-green-500: #82AD0C;
	--color-accent-green-600: #688A0A;
	--color-accent-green-700: #4E6807;
	--color-accent-green-800: #344505;
	--color-accent-green-900: #1A2302;

	/* Information Colors */
	--color-info-100: #DBE6FA;
	--color-info-200: #B8CDF5;
	--color-info-300: #94B3F1;
	--color-info-400: #719AEC;
	--color-info-500: #4D81E7;
	--color-info-600: #3E67B9;
	--color-info-700: #2E4D8B;
	--color-info-800: #1F345C;
	--color-info-900: #0F1A2E;

	/* Other Colors */
	--color-dark-blue: #1E2836;
	--color-other-grey: #F4F4F7

	/* Font Variables */
	--font-plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;

}

@utility container {
	padding-inline: 20px;
	margin-inline: auto;

	@variant lg {
		padding-inline: 80px;
	}
}

@utility text-10 {
	text: 10px;
	leading: 14px;
}
@utility text-12 {
	text: 12px;
	leading: 16px;
}
@utility text-14 {
	text: 14px;
	leading: 20px;	
}	
@utility text-16 {
	text: 16px;
	leading: 24px;
}
@utility text-18 {
	text: 18px;
	leading: 22px;
}
@utility text-20 {
	text: 20px;
	leading: 24px;
}
@utility text-22 {
	text: 22px;
	leading: 28px;
}
@utility text-24 {
	text: 24px;
	leading: 30px;
}
@utility text-26 {
	text: 26px;
	leading: 32px;
}
@utility text-30 {
	text: 30px;
	leading: 38px;
}
@utility text-36 {
	text: 36px;
	leading: 44px;		
}
@utility flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

@layer components {
	.auth-form {
		@apply flex min-h-screen w-full max-w-[420px] flex-col justify-center gap-5 py-10 md:gap-8;
	}

	.form-item {
		@apply flex flex-col gap-1.5 w-full;
	}

	.form-label {
		@apply text-[14px] w-full max-w-[280px] font-medium text-gray-700;
	}

	.form-message {
		@apply text-[12px] text-red-500;
	}

	.form-btn {
		@apply text-[16px] rounded-lg border bg-primary-500 font-semibold text-white;
	}

	.form-link {
		@apply text-[14px] cursor-pointer font-medium text-primary-500;
	}

	.input-class {
    	@apply text-[16px] placeholder:text-[16px] rounded-lg border border-gray-300 text-gray-900 placeholder:text-gray-500;
  	}

	.logo-ticker-image {
		@apply h-8 w-auto;
	}
	.tag {
		@apply text-sm inline-flex border border-secondary-200 font-medium text-secondary-400 px-3 py-1 rounded-lg
	}
}



@layer base {
	* {
    @apply border-border outline-ring/50;

	}
	body {
		font-family: var(--font-plus-jakarta-sans);
		@apply bg-background text-foreground;
  	}
}

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

}

:root {
	--radius: 0.625rem;
	--background: oklch(1 0 0);
	--foreground: oklch(0.129 0.042 264.695);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.129 0.042 264.695);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.129 0.042 264.695);
	--primary: oklch(0.208 0.042 265.755);
	--primary-foreground: oklch(0.984 0.003 247.858);
	--secondary: oklch(0.968 0.007 247.896);
	--secondary-foreground: oklch(0.208 0.042 265.755);
	--muted: oklch(0.968 0.007 247.896);
	--muted-foreground: oklch(0.554 0.046 257.417);
	--accent: oklch(0.968 0.007 247.896);
	--accent-foreground: oklch(0.208 0.042 265.755);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.929 0.013 255.508);
	--input: oklch(0.929 0.013 255.508);
	--ring: oklch(0.704 0.04 256.788);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.984 0.003 247.858);
	--sidebar-foreground: oklch(0.129 0.042 264.695);
	--sidebar-primary: oklch(0.208 0.042 265.755);
	--sidebar-primary-foreground: oklch(0.984 0.003 247.858);
	--sidebar-accent: oklch(0.968 0.007 247.896);
	--sidebar-accent-foreground: oklch(0.208 0.042 265.755);
	--sidebar-border: oklch(0.929 0.013 255.508);
	--sidebar-ring: oklch(0.704 0.04 256.788);

}

.dark {
	--background: oklch(0.129 0.042 264.695);
	--foreground: oklch(0.984 0.003 247.858);
	--card: oklch(0.208 0.042 265.755);
	--card-foreground: oklch(0.984 0.003 247.858);
	--popover: oklch(0.208 0.042 265.755);
	--popover-foreground: oklch(0.984 0.003 247.858);
	--primary: oklch(0.929 0.013 255.508);
	--primary-foreground: oklch(0.208 0.042 265.755);
	--secondary: oklch(0.279 0.041 260.031);
	--secondary-foreground: oklch(0.984 0.003 247.858);
	--muted: oklch(0.279 0.041 260.031);
	--muted-foreground: oklch(0.704 0.04 256.788);
	--accent: oklch(0.279 0.041 260.031);
	--accent-foreground: oklch(0.984 0.003 247.858);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.551 0.027 264.364);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.208 0.042 265.755);
	--sidebar-foreground: oklch(0.984 0.003 247.858);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.984 0.003 247.858);
	--sidebar-accent: oklch(0.279 0.041 260.031);
	--sidebar-accent-foreground: oklch(0.984 0.003 247.858);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.551 0.027 264.364);

}
