@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
	/* Custom Colors */
	/* Primary Colors */
	--color-primary-0: #FFFFFF; 
	--color-primary-100: #D6FBE6;
	--color-primary-200: #AFF7D5;
	--color-primary-300: #7EDEBC;
	--color-primary-400: #4AC49F;
	--color-primary-500: #31B099;
	--color-primary-600: #23978D;
	--color-primary-700: #187D7E;
	--color-primary-800: #0F5D66;
	--color-primary-900: #094554;

	/* Secondary Colors */
	--color-secondary-100: #EDF1F3;
	--color-secondary-200: #DCE4E8;
	--color-secondary-300: #ACB5BB;
	--color-secondary-400: #6C7278;
	--color-secondary-500: #1A1C1E;

	/* Error Colors */
	--color-error-100: #FCE4DF;
	--color-error-200: #F9C6BF;
	--color-error-300: #ED9C9B;
	--color-error-400: #DC7D85;
	--color-error-500: #C65468;
	--color-error-600: #AA3D5A;
	--color-error-700: #8E2A4E;
	--color-error-800: #721A43;
	--color-error-900: #5F103B;

	/* Warning Colors */
	--color-warning-100: #FAE7DB;
	--color-warning-200: #F5CEB8;
	--color-warning-300: #F1B694;
	--color-warning-400: #EC9D71;
	--color-warning-500: #E7854D;
	--color-warning-600: #B96A3E;
	--color-warning-700: #8B502E;
	--color-warning-800: #5C351F;
	--color-warning-900: #2E1B0F;

	/* Accent Green */
	--color-accent-green-100: #E6EFCE;
	--color-accent-green-200: #CDDE9E;
	--color-accent-green-300: #B4CE6D;
	--color-accent-green-400: #9BBD3D;
	--color-accent-green-500: #82AD0C;
	--color-accent-green-600: #688A0A;
	--color-accent-green-700: #4E6807;
	--color-accent-green-800: #344505;
	--color-accent-green-900: #1A2302;

	/* Information Colors */
	--color-info-100: #DBE6FA;
	--color-info-200: #B8CDF5;
	--color-info-300: #94B3F1;
	--color-info-400: #719AEC;
	--color-info-500: #4D81E7;
	--color-info-600: #3E67B9;
	--color-info-700: #2E4D8B;
	--color-info-800: #1F345C;
	--color-info-900: #0F1A2E;

	/* Other Colors */
	--color-dark-blue: #1E2836;
	--color-other-grey: #F4F4F7

	/* Font Variables */
	--font-plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;

}

@utility container {
	padding-inline: 20px;
	margin-inline: auto;

	@variant lg {
		padding-inline: 80px;
	}
}

@utility flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

@utility no-scrollbar {
	&::-webkit-scrollbar {
		display: none;
	}
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

@utility custom-scrollbar {
	&::-webkit-scrollbar {
		width: 8px;
		height: 8px;
	}
	&::-webkit-scrollbar-track {
		background: #f1f1f1;
	}
	&::-webkit-scrollbar-thumb {
		background: #888;
		border-radius: 10px;
	}
	&::-webkit-scrollbar-thumb:hover {
		background: #555;
	}
}


@utility bg-gradient-mesh {
	background-image: url('/images/gradient-mesh.jpg')
}

@layer components {
	.logo-ticker-image {
		@apply h-8 w-auto;
	}
	.tag {
		@apply text-xs md:text-sm inline-flex border border-secondary-200 font-medium text-secondary-400 px-3 py-1 rounded-lg
	}

	.section-title {
		@apply text-3xl md:text-5xl md:leading-[60px] font-bold tracking-tighter bg-gradient-to-b from-black to-primary-600
		 	text-transparent bg-clip-text pb-2;
	}

	.section-description {
		@apply text-sm sm:text-base xl:text-lg font-medium text-dark-blue;
	}

	.section-heading {
		@apply max-w-[540px] mx-auto
	}

	.card {
		@apply p-10 border border-[#F1F1F1] rounded-3xl shadow-[0_7px_14px_#EAEAEA] max-w-xs w-full
	}

	.auth-form {
		@apply flex min-h-screen w-full max-w-[420px] flex-col justify-center gap-5 py-10 md:gap-8;
	}

	.form-message {
		@apply text-[10px] text-red-500;
	}

	.form-btn {
		@apply text-[16px] rounded-lg border bg-primary-500 font-semibold text-white;
	}

	.form-link {
		@apply text-[14px] cursor-pointer font-medium text-primary-500;
	}

	.home {
    	@apply flex w-full flex-row max-xl:max-h-screen max-xl:overflow-y-scroll;
  	}

  	.home-content {
    	@apply flex w-full flex-1 flex-col gap-6 xl:max-h-screen xl:overflow-y-scroll;
  	}

   .home-header {
    	@apply flex flex-col justify-between gap-8;
  	}

	.header-box {
		@apply flex flex-col gap-2;
	}

	.header-box-title {
		@apply text-2xl lg:text-3xl font-bold text-secondary-500
	}

	.header-2 {
		@apply text-lg font-bold text-secondary-500;
	}
	
	.total-balance {
    	@apply flex w-full items-center gap-4 rounded-xl border border-secondary-200 p-4 sm:gap-6 sm:p-6;
	}

	.total-balance-label {
		@apply text-sm font-medium text-secondary-400;
	}

	.total-balance-amount {
		@apply text-2xl lg:text-3xl flex-1 font-semibold text-secondary-500;
	}

	.recent-transactions {
		@apply flex w-full flex-col gap-6;
	}
	
	 /* Mobile nav */
	.mobilenav-sheet {
		@apply flex h-[calc(100vh-72px)] flex-col justify-between overflow-y-auto;
	}

	.mobilenav-sheet_close {
		@apply flex gap-3 items-center p-4 rounded-lg w-full max-w-60;
	}

	 .sidebar-link {
		@apply flex relative h-full gap-3 items-center p-2 font-medium rounded-md justify-center xl:justify-start whitespace-nowrap;
	} 

	/* Root layout */
	.root-layout {
    	@apply flex h-16 items-start justify-between shadow-secondary-200 md:hidden;
  	}

	 /* Right sidebar */
	.right-sidebar {
		@apply no-scrollbar hidden h-screen max-h-screen flex-col border-l border-gray-200 xl:flex w-[355px] xl:overflow-y-scroll;
	}

	.profile-banner {
		@apply h-[120px] w-full bg-gradient-mesh bg-cover bg-no-repeat;
	}

	 .profile {
		@apply relative flex px-6 max-xl:justify-center;
	}

	.profile-img {
		@apply flex-center absolute -top-8 size-24 rounded-full bg-gray-100 border-8 border-white p-2;
	}

	.profile-details {
		@apply flex flex-col pt-24;
	}

	.profile-name {
		@apply text-2xl font-semibold text-gray-900;
	}

	.profile-email {
		@apply font-normal text-gray-600;
	}

	.banks {
		@apply flex flex-col justify-between gap-8 px-6 py-8;
	}

	  /* PlaidLink */
	.plaidlink-primary {
		@apply text-base rounded-lg bg-primary-500 font-semibold text-white;
	}

	.plaidlink-ghost {
		@apply flex cursor-pointer items-center justify-center gap-3 rounded-lg px-3 py-7 hover:bg-white lg:justify-start;
	}

	.plaidlink-default {
		@apply flex !justify-start cursor-pointer gap-3 rounded-lg !bg-transparent flex-row;
	}

		/* Bank Info */
	.bank-info {
		@apply gap-4.5 flex p-4 transition-all border bg-primary-500 border-transparent;
	}

	/* Category Badge */
	.category-badge {
		@apply flex-center truncate w-fit gap-1 rounded-2xl border-[1.5px] py-0.5 pl-1.5 pr-2;
	}

	.banktab-item {
		@apply gap-4.5 border-b-2 flex px-2 sm:px-4 py-2 transition-all;
	}

	.recent-transactions {
		@apply flex w-full flex-col gap-6;
	}

	.recent-transactions-label {
		@apply text-xl md:text-2xl font-semibold text-gray-900;
	}

	.recent-transactions-tablist {
		@apply custom-scrollbar mb-8 flex w-full flex-nowrap;
	}
	.view-all-btn {
		@apply text-sm rounded-lg border border-gray-300 px-4 py-2.5 font-semibold text-gray-700;
	}

	 .transactions {
		@apply flex max-h-screen w-full flex-col gap-8 overflow-y-scroll bg-secondary-100;
	}

	.transactions-header {
		@apply flex w-full flex-col items-start justify-between gap-8 md:flex-row;
	}

	.transactions-account {
		@apply flex flex-col justify-between gap-4 rounded-lg border-y bg-primary-600 px-4 py-5 md:flex-row;
	}

	.transactions-account-balance {
		@apply flex-center flex-col gap-2 rounded-md bg-primary-600/20 px-4 py-2 text-white;
	}

}

@layer base {
	* {
    @apply border-border outline-ring/50;

	}
	body {
		font-family: var(--font-plus-jakarta-sans);
		@apply bg-background text-foreground;
  	}
}

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

}

:root {
	--radius: 0.625rem;
	--background: oklch(1 0 0);
	--foreground: oklch(0.129 0.042 264.695);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.129 0.042 264.695);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.129 0.042 264.695);
	--primary: oklch(0.208 0.042 265.755);
	--primary-foreground: oklch(0.984 0.003 247.858);
	--secondary: oklch(0.968 0.007 247.896);
	--secondary-foreground: oklch(0.208 0.042 265.755);
	--muted: oklch(0.968 0.007 247.896);
	--muted-foreground: oklch(0.554 0.046 257.417);
	--accent: oklch(0.968 0.007 247.896);
	--accent-foreground: oklch(0.208 0.042 265.755);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.929 0.013 255.508);
	--input: oklch(0.929 0.013 255.508);
	--ring: oklch(0.704 0.04 256.788);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.984 0.003 247.858);
	--sidebar-foreground: oklch(0.129 0.042 264.695);
	--sidebar-primary: oklch(0.208 0.042 265.755);
	--sidebar-primary-foreground: oklch(0.984 0.003 247.858);
	--sidebar-accent: oklch(0.968 0.007 247.896);
	--sidebar-accent-foreground: oklch(0.208 0.042 265.755);
	--sidebar-border: oklch(0.929 0.013 255.508);
	--sidebar-ring: oklch(0.704 0.04 256.788);

}

.dark {
	--background: oklch(0.129 0.042 264.695);
	--foreground: oklch(0.984 0.003 247.858);
	--card: oklch(0.208 0.042 265.755);
	--card-foreground: oklch(0.984 0.003 247.858);
	--popover: oklch(0.208 0.042 265.755);
	--popover-foreground: oklch(0.984 0.003 247.858);
	--primary: oklch(0.929 0.013 255.508);
	--primary-foreground: oklch(0.208 0.042 265.755);
	--secondary: oklch(0.279 0.041 260.031);
	--secondary-foreground: oklch(0.984 0.003 247.858);
	--muted: oklch(0.279 0.041 260.031);
	--muted-foreground: oklch(0.704 0.04 256.788);
	--accent: oklch(0.279 0.041 260.031);
	--accent-foreground: oklch(0.984 0.003 247.858);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.551 0.027 264.364);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.208 0.042 265.755);
	--sidebar-foreground: oklch(0.984 0.003 247.858);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.984 0.003 247.858);
	--sidebar-accent: oklch(0.279 0.041 260.031);
	--sidebar-accent-foreground: oklch(0.984 0.003 247.858);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.551 0.027 264.364);

}
